.card{
    height: 210px;
    width: 210px;
    padding: 2px;
    margin-inline: 50px;
    margin-block: 24px;
    background:#F2F2F2;
    box-shadow: 7px 7px#d9d9d9;
    border-radius: 8px;
}

.card-header{
    display: flex;
    justify-content: space-between;    
    font-style: italic;
    font-size: xx-small;
    font-weight: lighter;
}

.main{
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
}

.card:hover{
    cursor: pointer;
}

.card img{
    width: 98%;
    height: 150px;
    bottom: 0px;
    border-radius: 5px;
}

.card-header h3{
    padding: 8px;
}